body {
	color: #2e3a47;
	background-color: #dce0e3;
	font-family: Trebuchet MS, Geneva, sans-serif;
	padding: 0;
	margin: 0;
	line-height: 36px;
}

main {
	background-color: #FFF;
	padding: 2%;
	filter: drop-shadow(1px 2px 2px #78818a);
	border-radius: 2px;
}


nav {
	background-color: #FFF;
	filter: drop-shadow(1px 2px 2px #78818a);
	margin-bottom: 1%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: left;
}

nav a {
	color: #2e3a47;
	display: block;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	padding-right: 24px;
	text-decoration: none;
}


img {
	max-width: 100%;
	max-height: 100%;
}

img.author_pfp {
	object-fit: cover;
	border-radius: 50%;
	height: 32px;
	width: 32px;
	float: left;
	padding-right: 1%;
}

p.author_name {
	font-style: italic;
	color: #91979e;
	font-size: 14px;
}


footer {
	text-align: center;
	padding: 24px;
}

@media (min-width: 1000px) {
	main {
		margin-left: 25%;
		margin-right: 25%;
	}
}