body {
	color: #2e3a47;
	background-color: #dce0e3;
	font-family: Trebuchet MS, Geneva, sans-serif;
	padding: 0;
	margin: 0;
	line-height: 36px;
}

body.locked {
	overflow: hidden;
}

main {
	background-color: #FFF;
	padding: 2%;
	filter: drop-shadow(1px 2px 2px #78818a);
	border-radius: 2px;
}


nav {
	background-color: #FFF;
	filter: drop-shadow(1px 2px 2px #78818a);
	margin-bottom: 16px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: left;
}

nav a {
	color: #2e3a47;
	display: block;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 32px;
	padding-right: 32px;
	text-decoration: none;
}

#home_text {
	font-weight: 900;
	color: #355e8f;
}


img {
	max-width: 100%;
	max-height: 100%;
}

img.author_pfp {
	object-fit: cover;
	border-radius: 50%;
	height: 32px;
	width: 32px;
	float: left;
	padding-right: 1%;
}

p.author_name, figcaption {
	font-style: italic;
	color: #91979e;
	font-size: 14px;
}

figcaption {
	text-align: center;
}

.panel {
	background-color: #FFF;
	position: fixed;
	padding: 32px;
	border-radius: 8px;
	width: 55%;
	height: 75%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close_button {
	color: #646464;
	font-weight: bold;
	float: right;
	height: 24px;
	width: 24px;
	margin: 0;
	font-size: 11px;
	vertical-align: middle;
	text-align: center;
}

.popup_background {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: #000;
}

.popup {
	z-index: 128;
	
	position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

	visibility: hidden;
}

@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

.show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}


footer {
	text-align: center;
	padding: 24px;
}

@media (min-width: 1000px) {
	main {
		margin-left: 25%;
		margin-right: 25%;
	}
}
